# Regular messages
{{ define "slack.django-app.title" }}
[{{ .CommonLabels.severity | toUpper }}] [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join " " }} {{ if gt (len .CommonLabels) (len .GroupLabels) }}({{ with .CommonLabels.Remove .GroupLabels.Names }}{{ .Values | join " " }}{{ end }}){{ end }}
{{ end }}

{{ define "slack.django-app.text" }}
<!channel>
{{ range $index, $value := .Alerts }}
Alert no {{ $index }}:
Summary: {{ .Annotations.summary }}
Description: {{ .Annotations.description }}

{{ end }}
{{ end }}


# Critical messages
{{ define "slack.django-app.title_critical" }}
[{{ .CommonLabels.severity | toUpper }} - ACTION REQUIRED] [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join " " }} {{ if gt (len .CommonLabels) (len .GroupLabels) }}({{ with .CommonLabels.Remove .GroupLabels.Names }}{{ .Values | join " " }}{{ end }}){{ end }}
{{ end }}

{{ define "slack.django-app.text_critical" }}
<!channel>
This is a critical alert. If possible, please attend to this issue immediately.
{{ range $index, $value := .Alerts }}
Alert no {{ $index }}:
Summary: {{ .Annotations.summary }}
Description: {{ .Annotations.description }}

{{ end }}
{{ end }}
